button {
  display: flex;
  background-color: #0085db;
  padding: 10px;
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
}


.button{
  text-decoration: none;
}